<h2> Product lists </h2>
<table class="table table-boldered">
  <thead>
    <tr>
      <td> ID</td>
      <td> 品名 </td>
      <td> 叙述 </td>
      <td> 库存 </td>
      <td> 价格 </td>
      <td> 选项 </td>
      <td> 创建日期 </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <%= render :partial => "product_item", :collection => @products, :as => :product %>
    </tr>
  </tbody>
</table>
