<h2> Product lists </h2>
<div class="pull-right" style="padding-bottom: 20px;">
  <%= link_to("新增产品", new_admin_product_path, class: "btn btn-primary btn-sm") %>
</div>
<table class="table table-boldered">
  <thead>
    <tr>
      <td> ID</td>
      <td> 品名 </td>
      <td> 叙述 </td>
      <td> 库存 </td>
      <td> 价格 </td>
      <td> 选项 </td>
      <td> 创建日期 </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <%= render :partial => "product_item", :collection => @products, :as => :product %>
    </tr>
  </tbody>
</table>
